* {
    font-family: light, sans-serif;
}

body {
    text-align: center;
    }
    .center {
        margin-left:auto;
        margin-right:auto;
    }
    .no-link-color
        a {
            color:#999999;
        }
        a:hover {
            color:#999999;
        }

    .extralight {
        font-family: "extralight", sans-serif;
        }
    .light {
        font-family: "light", sans-serif;
    }

.regular {
    font-family: "regular", sans-serif;
}

[data-icon]:before {
    font-family: 'MeteoconsRegular', sans-serif;
    content: attr(data-icon);
}

/* Changes carousel slide transition to fade transition
.carousel {
overflow: hidden;
}
.carousel .item {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-ms-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
left:0;
opacity:0;
z-index:2;
}
.carousel .next, .carousel .prev {
left:0;
opacity:1;
z-index:1;
}
End of carousel slide transition hack */

/* Disables shadowing on right and left sides of carousel images for a crisp look */
.carousel-control.left {
background-image: none;
}
.carousel-control.right {
background-image: none;
}
/* End of carousel shadow modification */

/* Now Playing Progress Bar CSS */
.now-playing-progress-bar {
height: 5px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/* End of Now Playing Progress Bar CSS */

.panel-white-bg {
background-color: #ffffff;
}

.wan_ping {
    margin-top:-5px; margin-bottom: 20px;
}

.get_server_info {
    font-style: italic;
}

tr.spaceUnder > td {
    padding-bottom: 2px;
}

td.services_btns {
    text-align: right;
    padding-right:5px;
}

td.btn_mod {
    text-align: left;
}

a.btn_mod {
    width:80px;
}

.hr_break {
    margin-top: 0;
    margin-bottom:15px;
}

.weather-bottom {

    margin-top:-20px
}

.weather-bottom h5 {
    margin-top: 10px;
}

.weather-bottom p {
    margin-bottom: -10px;
    margin-right: 5px;
}

.weather-icon h1 {
    font-size: 800%;
    margin-bottom: 0;
    margin-top: 10px;
}

#weather.panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.extra-bottom {
    margin-bottom: 0;
    margin-top: 0;
}

.very-top {
    padding-top: 20px;
}
