<div id="bandwidth">
    <div class="wan_ping">
        <div class="light">WAN Ping: <span id="ping"><span
                class="get_server_info"><i
                class="fa fa-spinner fa-spin"></i></span></span>
        </div>
    </div>
    <!-- Download -->
    <div class="light">Download: <span id="download">
            <span class="get_server_info"><i class="fa fa-spinner fa-spin"></i></span></span>

        <div class="progress">
            <div id="progress-bar-down" class="progress-bar"
                 style="0%"></div>
        </div>
    </div>
    <!-- Upload -->
    <div class="light">Upload: <span id="upload">
            <span class="get_server_info"><i class="fa fa-spinner fa-spin"></i></span></span>

        <div class="progress">
            <div id="progress-bar-up" class="progress-bar"
                 style="0%"></div>
        </div>
    </div>
</div>