<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>beallio.com</title>
    <meta name="author" content="beallio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="static/fonts/stylesheet.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css"
          rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="static/css/mods.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/ico/favicon.ico">
</head>
<body>
<div class="container">
    <div class="row very-top">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-3">
                    <!-- Weather -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" id="panel-weather">
                                <div class="panel-heading"
                                     data-toggle="collapse"
                                     data-parent="#panel-weather"
                                     data-target="#panel-body-weather">
                                    <h4 class="panel-title extralight">
                                        Weather
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in weather"
                                     id="panel-body-weather">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bandwidth -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default"
                                 id="panel-bandwidth">
                                <div class="panel-heading"
                                     data-toggle="collapse"
                                     data-parent="#panel-bandwidth"
                                     data-target="#panel-body-bandwidth">
                                    <h4 class="panel-title extralight">
                                        Bandwidth
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in"
                                     id="panel-body-bandwidth">
                                    <div class="panel-body">
                                        {% include "bandwidth.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default"
                                 id="panel-services">
                                <div class="panel-heading"
                                     data-toggle="collapse"
                                     data-parent="#panel-services"
                                     data-target="#panel-body-services">
                                    <h4 class="panel-title extralight">
                                        Services
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in"
                                     id="panel-body-services">
                                    <div class="services" id="services"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Center Area -->
                <div class="col-md-6">
                    <div class="media">
                    </div>
                </div>
                <!-- Right sidebar -->
                <div class="col-md-3">
                    <!-- System info / Load Panel -->
                    <div class="panel panel-default" id="panel-systeminfo">
                        <div class="panel-heading" data-toggle="collapse"
                             data-parent="#panel-systeminfo"
                             data-target="#panel-body-systeminfo">
                            <h4 class="panel-title extralight">
                                System
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in"
                             id="panel-body-systeminfo">
                            <div class="system-info"></div>
                        </div>
                    </div>
                    <!-- Storage Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse"
                             data-parent="#panel-storage"
                             data-target="#panel-body-storage">
                            <h4 class="panel-title extralight">
                                Storage
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in"
                             id="panel-body-storage">
                            <div class="storage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="get_server_info" style=" position: fixed; bottom: 1px; right: 2px;">
    {% if testing %}load:
        {{ time }}{% endif %}
</div>
<div id="server_ip" style="display:none"></div>
<div id="client_ip" style="display:none"></div>
<script src="static/js/functions.js"></script>
</body>
</html>