<!-- Transcode sessions title & badge div-->
<h4 class="panel-title extralight" id="loadheader">
    Load
    <span class="transcodes">
    {% include "plex_transcodes.html" ignore missing with context %}
    </span>
</h4>
<hr class="hr_break">
<div id="system_load">
    <!-- 1 min -->
    <div class="light">1 min:
        <span id="1-min-load">{{ '{0:0.0%}'.format(values['load_avg'][0]) }}</span>

        <div class="progress">
            <div id="1-min-load-bar"
                 class="progress-bar" style="width: {{ '{0:0.0%}'.format(values['load_avg'][0]) }}"></div>
        </div>
    </div>
    <!-- 5 min -->
    <div class="light">5 min:
        <span id="5-min-load">{{ '{0:0.0%}'.format(values['load_avg'][1]) }}</span>

        <div class="progress">
            <div id="5-min-load-bar"
                 class="progress-bar" style="width: {{ '{0:0.0%}'.format(values['load_avg'][1]) }}">
            </div>
        </div>
    </div>
    <!-- 15 min -->
    <div class="light">15 min:
        <span id="15-min-load">{{ '{0:0.0%}'.format(values['load_avg'][2]) }}</span>

        <div class="progress">
            <div id="15-min-load-bar"
                 class="progress-bar" style="width: {{ '{0:0.0%}'.format(values['load_avg'][2]) }}"></div>
        </div>
    </div>
</div>