<div id="now-playing">
    <h1 class="extralight">Now Playing</h1>
    <hr>
    <div style="overflow: auto; width: 100%; margin: 0 auto">
        <div class="col-md-12">
            <div id="carousel-example-generic" class=" carousel slide">
                <div class="thumbnail">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for item in values.subsonic_nowplaying %}
                            {% if loop.first %}
                                <div class="item active">
                                    <img src="{{ item.coverArtExternalLink_xl }}"
                                         alt="{{ item.album }}"/>

                                    <div class="progress now-playing-progress-bar">
                                        <div class="progress-bar progress-bar-warning"
                                             role="progressbar"
                                             aria-valuenow="{{ item.progress }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: {{ item.progress }}%"></div>
                                    </div>
                                    <div class="album_info"
                                         style="padding-top: 5px">
                                        <b class="light">Artist:</b>&nbsp;{{ item.artist }}
                                        <br>
                                        <b class="light">Track:</b>&nbsp;{{ item.track }}. {{ item.title }}
                                        <br>
                                        <b class="light">Album:</b>&nbsp;{{ item.album }}
                                        <br>
                                        <b class="light">Year:</b>&nbsp;{{ item.year }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="item">
                                    <img src="{{ item.coverArtLocalLink }}"
                                         alt="{{ item.album }}"/>

                                    <div class="progress now-playing-progress-bar">
                                        <div class="progress-bar progress-bar-warning"
                                             role="progressbar"
                                             aria-valuenow="{{ item.progress }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: {{ item.progress }}%"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control"
                   href="#carousel-example-generic" data-slide="prev"></a>
                <a class="right carousel-control"
                   href="#carousel-example-generic" data-slide="next"></a>
            </div>
        </div>
    </div>
</div>
