{% set isnowplaying = (values.plex_nowplaying == 'null') %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="extralight">
            Recently Added
        </h3>
    </div>
</div>
<div class="panel-group" id="accordion">
    <!-- Begin Movie/TV section -->
    {% for videogroup in values.plex_recentlyadded|dictsort(false, 'value') %}
        {% set vidgroup = videogroup[0] %}
        {% set items = videogroup[1] %}
    <div class="panel panel-default">
        <div class="panel-heading" {% if isnowplaying %}
             data-toggle="collapse" {% endif %}
             data-parent="#accordion" data-target="#collapse{{ vidgroup }}">
            <h4 class="panel-title extralight">
                {{ vidgroup }}
            </h4>
        </div>
        <div id="collapse{{ vidgroup }}"
             class="panel-collapse collapse{% if not isnowplaying %} in{% endif %}">
        <div class="panel-body">
                <div class="row">
                    {% for item in items %}
                        <div class="col-sm-4">
                            <a href="#" class="thumbnail" data-toggle="modal"
                               data-target="#{{ vidgroup }}Modal{{ loop.index }}">
                                <img src="{{ item.art_external_url }}&thumbnail=1"
                                     id="{{ vidgroup }}-cover{{ loop.index }}"/>
                            </a>
                        </div>

                        <!-- Modal {{ vidgroup }} {{ loop.index }}-->
                        <div class="modal fade"
                             id="{{ vidgroup }}Modal{{ loop.index }}"
                             tabindex="-1"
                             role="dialog"
                             aria-labelledby="{{ vidgroup }}{{ loop.index }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ item.art_external_url }}&local=1"
                                             style="width: 100%;"
                                             class="img-rounded"/>
                                    </div>
                                    <div class="modal-footer">
                                        <dl class="dl-horizontal text-left">
                                            {% if item.type == 'Movies' %}
                                                <dt class="regular">Title</dt>
                                                <dd class="light">{{ item.showtitle }}</dd>
                                                <dt class="regular">Summary</dt>
                                                <dd class="light">{{ item.summary }}</dd>
                                                <dt class="regular">Release
                                                                    Date
                                                </dt>
                                                <dd class="light">{{ item.releasedate }}</dd>
                                                <dt class="regular">Rating</dt>
                                                <dd class="light">{{ item.rating|round(1, 'common') }}</dd>
                                                <dt class="regular">Added</dt>
                                                <dd class="light">{{ item.added_at }}</dd>

                                            {% else %}

                                                <dt class="regular">Season</dt>
                                                <dd class="light">{{ item.season }}</dd>
                                                <dt class="regular">Episode</dt>
                                                <dd class="light">{{ '{0:02d}'.format(item.episode_number) }}</dd>
                                                <dt class="regular">Title</dt>
                                                <dd class="light">{{ item.title }}</dd>
                                                <dt class="regular">Summary</dt>
                                                <dd class="light">{{ item.summary }}</dd>
                                                <dt class="regular">Originally
                                                                    Aired
                                                </dt>
                                                <dd class="light">{{ item.aired_date }}</dd>
                                                <dt class="regular">Added</dt>
                                                <dd class="light">{{ item.added_at }}</dd>

                                            {% endif %}
                                        </dl>
                                        <button type="button"
                                                class="btn btn-default"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                    <!-- End Modal footer -->
                                </div>
                                <!-- End Modal content -->
                            </div>
                            <!-- End Modal dialog -->
                        </div> <!-- End Modal -->
                        <!-- End Modal {{ vidgroup }} {{ loop.index }} -->
                    {% endfor %}
                </div>
                <!-- End row -->
            </div>
            <!-- End Panel body -->
        </div>
        <!-- End Panel collapse -->
    </div> <!-- End Panel {{ vidgroup }} -->
    {% endfor %}
    <!-- End Movie/TV section -->

    <!-- Begin Music Section -->
    <div class="panel panel-default">
        <div class="panel-heading" {% if isnowplaying %}
             data-toggle="collapse" {% endif %}
             data-parent="#accordion" data-target="#collapseTwo">
            <h4 class="panel-title extralight">
                Music
            </h4>
        </div>
        <div id="collapseTwo"
             class="panel-collapse collapse{% if not isnowplaying %} in{% endif %}">
        <div class="panel-body">
                <div class="row">
                    {% for item in values.subsonic_recentlyadded %}
                        <div class="col-sm-4">
                        <a href="#" class="thumbnail" data-toggle="modal"
                               data-target="#musicModal{{ loop.index }}">
                                <img src="{{ item.coverArtExternalLink_sm }}"
                                     style="width: 100%;"
                                     id="video-cover{{ loop.index }}"/>
                            </a>
                        </div>
                        <!-- Modal music {{ loop.index }}-->
                        <div class="modal fade" id="musicModal{{ loop.index }}"
                             tabindex="-1" role="dialog"
                             aria-labelledby="music{{ loop.index }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ item.coverArtExternalLink_xl }}"
                                             style="width: 100%;"
                                             class="img-rounded"/>
                                    </div>
                                    <div class="modal-footer">
                                        <dl class="dl-horizontal text-left">
                                            <dt class="regular">Artist</dt>
                                            <dd class="light">{{ item.artist }}</dd>
                                            <dt class="regular">Album</dt>
                                            <dd class="light">{{ item.album }}</dd>
                                            <dt class="regular">Year</dt>
                                            <dd class="light">{{ item.year }}</dd>
                                            <dt class="regular">Genre</dt>
                                            <dd class="light">{{ item.genre }}</dd>
                                            <dt class="regular">Added</dt>
                                            <dd class="light">{{ item.created }}</dd>
                                        </dl>
                                        <button type="button"
                                                class="btn btn-default"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal music {{ loop.index }} -->
                    {% endfor %}

                </div>
                <!-- End Music Section -->
            </div>
        </div>
    </div>
</div>
