body {
    text-align: center;
    }
    .center {
        margin-left:auto;
        margin-right:auto;
    }
    .no-link-color
        a {
            color:#999999;
        }
        a:hover {
            color:#999999;
        }

    .exoextralight {
        font-family:"exoextralight";
        }
    .exolight {
    font-family:"exolight";
}
[data-icon]:before {
font-family: 'MeteoconsRegular';
content: attr(data-icon);
}
.exoregular {
font-family:"exoregular";
}

/* Changes carousel slide transition to fade transition
.carousel {
overflow: hidden;
}
.carousel .item {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-ms-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
left:0;
opacity:0;
z-index:2;
}
.carousel .next, .carousel .prev {
left:0;
opacity:1;
z-index:1;
}
End of carousel slide transition hack */

/* Disables shadowing on right and left sides of carousel images for a crisp look */
.carousel-control.left {
background-image: none;
}
.carousel-control.right {
background-image: none;
}
/* End of carousel shadow modification */

/* Now Playing Progress Bar CSS */
.now-playing-progress-bar {
height: 5px;
margin-top: 0px;
margin-bottom: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
/* End of Now Playing Progress Bar CSS */

.panel-white-bg {
background-color: #ffffff;
}

.wan_ping {
    margin-top:-5px; margin-bottom: 20px;
}

.get_server_info {
    font-style: italic;
}

tr.spaceUnder > td {
    padding-bottom: 2px;
}

td.services_btns {
    text-align: right;
    padding-right:5px;
}

td.btn_mod {
    text-align: left;
}

a.btn_mod {
    width:80px;
}

.hr_break {
    margin-top:0px;
    margin-bottom:15px;
}

.album_info {
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
    font-family: "exoextralight";
    text-align: left;
}

.recently_added {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0 auto
}

.weather-bottom {
    clear:both;
    margin-top:10px
}

.weather-bottom h5 {
    margin-top: 10px;
}

.weather-bottom p {
    margin-bottom: -10px;
}

.weather-icon {
    float:left;
    width: 30%;
    padding-left: 10px;
}

.temp-data {
  padding-top: 0px;
  background: none;
}

.temp-data h1, h4 {
    margin: 0px;
}

.temp-data h5 {
    margin-top: 10px;
}

.weather-icon h1 {
    font-size: 500%;
    padding: 0px;
    margin: 0px;
}



